body {
    background-color: #0F172A;
    font-size: 62.5%;
    padding: 7rem 3rem;
    display: flex;
    justify-content: center;

    .wrapper-class {
        border: .2rem solid #1E293B;
        background-color: #1E293B;
        width: 45rem;
        border-radius: 1rem;
        padding: 5rem 5rem 25rem 5rem;


        #input-link {
            padding: .5rem 5rem .5rem 1rem;
            border-radius: .5rem;
            border: 2px solid #ced4da;
            background-color: transparent;
            transition: border-color .15sease-in-out, box-shadow .15sease-in-out;
        }

    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: #1E293B;
        color: grey;
        border-top: .1rem solid grey;
        text-align: center;
        font-size: 1rem;
        padding: 2.5rem 0;
        margin: 2rem 0 0 0;
    }
}
